[submodule "CUE4Parse"]
	path = CUE4Parse
	url = https://github.com/LongerWarrior/CUE4Parse
	branch = HogwartsLegacy
[submodule "EpicManifestParser"]
	path = EpicManifestParser
	url = https://github.com/FModel/EpicManifestParser
